
#sideLeft
{
    height: 100%;
    width: 55%;
    padding: 150px 30px 30px 30px;
}
#containerLogo
{
    
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-style: italic;
    margin-top: 100px;
    margin-left: 80px;
    margin-bottom: 85px;
}
#containerLogo img
{
    height: 80px;
}
#text_primary
{
    font-size: 55px;
    color: var(--var-color-fir);
}
#text_secundary
{
    color:var(--text-light)
}
#containerSocials
{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 10px;
}
#containerSocials a
{
    color: var(--var-color-sec);
    text-decoration: none;
    margin-right: 15px;
}
/* RESPONSIVIDADE TABLET */
@media only screen and (max-width: 768px)
{
    #sideLeft
    {
        display: none;
    }
    
}