
*
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.btn
{
    cursor: pointer;
    border: none;
    box-shadow: none;
}
:root
{    
    --var-color-fir: #3db11d;
    --var-color-sec: #40862D;
    --var-color-ter: #30DB00;
    --var-color-qua: #385C2E;
    --var-color-qui: #263322;
    --var-color-sex: #3E473C;
    
    --text-light:    #a7a19e;
    --text-alert:    #cc4836;
}